$font-primary: 'Oswald', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background: #071d2b;
}

label {
    width: 190px;
    color: #fff;
}

input[type="number"] {
    width: 45px;
    border: none; outline: none;
    padding: 0.25rem;
}

.password-generator {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 2rem 2.5rem;
}

.password-generator h1 {
    font-family: $font-primary;
    text-align: center;
    color: #fff;
    margin-bottom: 1.25rem;
    font-size: 3rem;
    font-weight: bold;
}

.password__box
{
    width: 500px;
    margin: 2rem auto 0;
}

.password-generator__form-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.password-generator__form-item + .password-generator__form-item
{
    margin-top: 1.5rem;
}

.password__characters
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.5rem;
    margin: 3rem 0;
    width: auto;
    user-select: none;
}

.label {
   display: flex;
   align-items: center;
   gap: 1rem;
  }

input[type="checkbox"]
{
    appearance: none;
    background: #fff;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid rgb(0, 112, 246);
    border-radius: .2rem;
    transform: translateY(.1rem);
    cursor: pointer;
} 

input[type="checkbox"]
{
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before
{
    content: "";
    width: .7rem;
    height: .7rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset .5rem .5rem black;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before
{
    transform: scale(1);
}

input[type="checkbox"]:focus 
{
    outline: max(2px, .15rem) solid rgba($color: rgb(0, 112, 246), $alpha: .3);
    outline-offset: max(2px, .15rem);
}

input[type="checkbox"]:disabled
{
    opacity: .5;
    cursor: not-allowed;
}

.password-generator__button 
{
    border-radius: 2rem;
    height: 50px;
    display: block;
    margin: 2rem auto 0;
    padding: 0 2rem;
    line-height: 1.4;
    font-size: 1rem;
    letter-spacing: 1px;
    background: #0069d9;
    color: #fff;
    box-shadow: 0 8px 32px -8px rgb(0 112 246 / 72%), 0 16px 32px -16px rgb(7 29 43 / 24%);
    border: 0;
    user-select: none;
    font-weight: 700;
    cursor: pointer;
    transition: all .7s;
}

.password-generator__button:hover
{
    background: rgba($color: #0069d9, $alpha: .7);
}

.password__container
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: .1px;
    color: #261c6a;
    margin: 0 auto 3rem;
    outline: none; border: none; 
    border-radius: 24px;
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    cursor: text;

    .password-generator__textbox {
        padding: 1rem 1.4rem;
        font-weight: 400;
        letter-spacing: .7px;
        width: 75%;
        overflow: hidden;
        text-overflow: ellipsis;

        span
        {
            opacity: 0;
            display: inline-block;
        }
    
        span.fade
        {
            opacity: 1;
            animation: flip; 
            animation-duration: .1s; 
        }
    }

    .badge
    {
        width: 25%;
        text-align: center;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: bold;
    }
}